*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: olivedrab;
}
/* header styles */
header{
  
    background-color: olivedrab;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name{
    background-color: black;
    color: olivedrab;
    font-weight: bold;
    font-size: 25px;
    
}
.name h1{
    padding: 10px 15px 10px 50px;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    color: black;
}
.hero{

    background-image: url("../assets/img/Cover.jpg");
    background-size: cover;
    background-position: center;   
    height: 300px;
}
.hero div h2{
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
}

/*about me styles*/

.about-me{
    display: flex;
    margin: 15px 15px 15px 50px;
    padding-right: 15px;
    flex-direction: row;
    align-items: center;
  }

.about-me h2{
    font-size: 48px;
    border-right: 5px solid black;
    padding-right: 15px;
}
.about-me p{
    padding-left: 15px;
}

/*work content styles*/
.workContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: black;
}
.workContent h2{
    font-size: 48px;
    margin: auto;
    padding-right: 15px;
}

.flex-item{
    border: 5px solid black;
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}


.surf-report{
    min-width: 90%;
    min-height: 400px;
    flex-basis: 100%;
    background-image:url("../assets/img/ocean-pic.jpg");
    background-position: center;
}
.calc{
    background-image:url("../assets/img/Calculator-pic.jpg");
    background-position: center;
    background-size: auto;
}
.led-wall{
    background-image:url("../assets/img/server-pic.jpg");
    background-position: center;
    background-size: auto;
}
.pastel-puzzle{
    background-image:url("../assets/img/puzzle-pic.jfif");
    background-position: center;
    background-size: auto;
}
.run-buddy{
    background-image:url("../assets/img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
}
.flex-item:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.flex-item div{
    background-color: #39a6b2;
    padding: 8px 10px;
}
.contactContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    margin-top: 30px;
}
.contactContent h2{
    font-size: 48px;
    padding-right: 15px;
    border-right: 5px solid black;
}
.contactContent h3{
    margin: auto 20px auto 20px;
}